.venv
.idea
batch_output
measure_out
batch_yolo_sam2_point_output*
*.jpg
publish
publish.7z
test/batch_output
test/batch_yolo_sam2_point_output2
test/batch_yolo_sam2_point_output3
test/measure_out
logs